<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Deep breaths</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="grid-focus">
    <div class="cream text-green">
      <h1>Next, take 3 deep breaths</h1>
    </div>
    <div>
      <p class="navy text-cream comic text-md">Take your time, no rush</p>
    </div>
    <div class="green text-navy column">
      <p class="comic text-md">
        Keep focused on the soles of your feet <br>
        1 <br>
        2 <br>
        3 <br>
      </p>
      <ion-button fill="solid" shape="round" color="primary">All done?</ion-button>
    </div>
  </div>
</ion-content>
