$yellow: #FFE306;
$green: #A0D0BF;
$orange: #ED6423;
$navy: #0A1F53;
$cream: #FCF4DD;
$white: #fff;
$grey: #696861;

//Background color
.green {
  background: $green;
}

.yellow {
  background: $yellow;
}

.orange {
  background: $orange;
}

.navy {
  background: $navy;
}

.cream {
  background: $cream;
}

//Text color
.text-green {
  color: $green
}

.text-orange {
  color: $orange!important;
}

.text-yellow {
  color: $yellow!important;
}

.text-cream {
  color: $cream;
}

.text-navy {
  color: $navy;
}
