<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ground Yourself</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="grid-focus">
    <div class="navy text-cream">
      <h1>Ground Yourself</h1>
    </div>
    <div>
      <p class="green text-blue">(That was the hard bit)</p>
      <p class="yellow text-green">Now, let's break the binge eating cycle!</p>
    </div>
    <div class="cream text-green column">
      <p>
        First, start by noticing and feeling the pressure on the soles of your feet.
        Keep your attention there for a moment
      </p>
      <ion-button fill="solid" shape="round" color="warning">All done?</ion-button>
    </div>
  </div>
</ion-content>
