<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ground Yourself</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="grid-focus">
    <div class="navy text-cream">
      <h1>Well done for coming here for help</h1>
    </div>
    <div>
      <p class="green text-navy comic">(That was the hard bit)</p>
      <p class="yellow text-green comic">Now, let's break the binge eating cycle!</p>
    </div>
    <div class="cream text-green column">
      <p class="comic">
        First, start by noticing and feeling the pressure on the soles of your feet.
        Keep your attention there for a moment
      </p>
      <ion-button fill="solid" shape="round" color="warning" routerLink="/deep-breaths">All done?</ion-button>
    </div>
  </div>
</ion-content>
